@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: url("./assets/bg.jpg");
  background-size: auto;
  height: 100vh;
  overflow-y: hidden;
}
body {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
}
.gradientBorder {
  border: 3px solid;

  border-image: linear-gradient(90deg, #0255d5 0%, #6a2492 49.48%, #e701b5 100%)
    1;
  /* background: linear-gradient(90deg, #0255d5 0%, #6a2492 49.48%, #e701b5 100%); */
}
.customColorBlue {
  background: #264765;
}
.shadowCustom {
  box-shadow: 0px 4px 4px 0px #00000040;
}
.radialGradient {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2),
    transparent,
    transparent
  );
}
.thingsToDoSectionBg {
  background: #0f396154;
}
